@import '@styles';

.search-input {
	position: relative;

	&__icon {
		position: absolute;
		top: 14px;
		left: 16px;
		color: $gray-600;
	}

	input[type="search"] {
		box-sizing: border-box;
		width: 100%;
		height: 56px;
		padding: 8px 24px;
		padding-left: 60px;
		border: 1px solid $gray-300;
		border-radius: 18px;
		background-color: $gray-0;
		color: $primary;
		font-size: 14px;

		&:focus {
			outline: 0;
			border: 1px solid $primary;
	
			& + .search-input__icon {
				color: $primary;
			}
		}
	
		&:active:not([disabled]) {
			box-shadow: inset 0 0 2px $primary;
		}
	
		&:disabled {
			opacity: 0.8;
			pointer-events: none;
		}
	
		&::placeholder {
			opacity: 1;
			color: $gray-600;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration { 
		  display: none;
		}
	}
}