@import '@styles'
@import '@fontsource/nunito-sans/400.css'


.clock
    position: fixed
    color: $gray-100
    top: 140px
    left: 20px
    font-size: 18px
    font-weight: 200


p
    margin: 0
    margin-top: 10px

